.tabs {
  list-style: none;
  padding: 0 0 0.5rem;
  display: flex;
  //border-bottom: thin solid var(--neutral-gray-300);
 
  a{
    position: relative;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 14px;
    color: var(--neutral-gray-900);

    &:after{
      content: "";
      position: absolute;
      background-color: var(--success);
      height: 3px;
      width: 0;
      left: 0;
      bottom: 0px;
      transition: 0.3s;
    }
    &:hover:after{
      width: 100%;
    }
  }
  
  &[a-current="page"] {
    //border-bottom: 2px solid var(--success);
    font-weight: 700;
    transition: 0.3s;
  }
}
